.profile__edit-button {
  position: absolute;
  top: 8px;
  right: -30px;
}

@media (min-width: 768px) {
  .profile__edit-button {
    width: 24px;
    height: 24px;
    top: 15px;
    right: -40px;
  }
}
