.profile__edit-button-zone {
  display: flex;
  align-items: center;
  padding-left: 26px;
}


@media (min-width: 768px) {
  .profile__edit-button-zone {
    align-items: flex-start;
    padding-left: 0;
  }
}

@media (min-width: 1024px) {
  .profile__edit-button-zone {
    align-items: center;
  }
}
