.popup__name {
  margin: 0 22px 30px;
  border: none;
  width: 238px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 13px;
}

@media (min-width: 768px) {
  .popup__name {
    margin: 0 36px 43px;
    width: 358px;
  }
}
