.popup__submit {
  margin: 0 22px 25px;
  background-color: black;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  border-radius: 2px;
  width: 238px;
  height: 46px;
  transition: opacity 0.7s ease-in-out, box-shadow 0.7s ease-in-out;
}


@media (min-width: 768px) {
  .popup__submit {
    margin: 0 36px 37px;
    width: 358px;
  }
}


.popup__submit:hover {
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 0 4px 4px rgba(0,0,0,0.25);
}
